* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.navbar {
  background-color: #4e4e50;
}
.navbar a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

.dropdown-item:active {
  background-image: linear-gradient(to right top, #f36c21, #f67d3b, #f88e53, #f99e6a, #f9ad82);
}

.carousel h5 {
  font-family: "lato", arial, sans-serif;
  font-weight: 900;
  font-size: 3.7rem;
  color: #4e4e50;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.2rem;
  white-space: normal;
  color: #f36c21;
  height: auto;
  opacity: 1;
  text-align: left;
}
.carousel p {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.card {
  border: none;
}
.card i {
  font-weight: 600;
  font-size: 2rem;
  color: white;
  border-radius: 100%;
  background-color: #f36c21;
}

.card-body h3 {
  font-family: "lato", arial, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #4e4e50;
}
.card-body p {
  font-family: "lato";
  font-weight: 300;
  font-size: 1.1rem;
  color: #4e4e50;
}

.serv-style {
  margin: 3%;
  background-color: white;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.serv-style .card-body h5 {
  font-family: "lato", arial, sans-serif;
  font-weight: 700;
  color: #4e4e50;
  font-size: 2.5rem;
}
.serv-style .card-body p {
  font-family: "lato", arial, sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}

.card-redirec {
  background-color: #f36c21;
  padding: 1.5rem;
}
.card-redirec div {
  font-family: "lato" arial;
  font-weight: 400;
  font-size: 1.75rem;
  font-style: normal;
  color: white;
}
.card-redirec div p {
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.card-redirec div p a {
  border-color: white;
  background-color: #f36c21;
  color: white;
}

.btn--var1 {
  background-color: #f36c21;
  border: 2px solid #fff;
  color: #fff;
}

.btn--var1:hover {
  color: #fff;
  transform: scale(1.2, 1.2);
}

.card-body-nosotros h5 {
  font-family: "lato", arial, sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #4e4e50;
  color: #f36c21;
}
.card-body-nosotros p {
  font-family: "lato";
  font-weight: 300;
  font-size: 1.1rem;
  color: #292a2b;
}

.fondo-img {
  box-shadow: rgba(0, 0, 0, 0.2);
}

.fondo-nosotros {
  background-color: rgba(238, 238, 238, 0.479);
}

.card-body-serv .card-title, h4 p .card-title {
  font-family: "lato", arial;
  font-weight: 700;
  font-size: 2.5rem;
  color: #4e4e50;
}
.card-body-serv p, h4 p p {
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "lato", arial, sans-serif;
  color: #4e4e50;
}

.fondo-card {
  background-image: url(../imagenes/trianguloamarillo.png);
}

.contenido-servicio p, p p {
  color: #4e4e50;
  font-weight: 300;
  font-family: "lato", arial, sans-serif;
  font-size: 1.3rem;
}

.fondo-card1 {
  background-image: url(../imagenes/triangulosverdes.png);
}

.fondo-card2 {
  background-image: url(../imagenes/triangulosazules.png);
}

/* estilo footer */
.color-footer {
  background-color: #4e4e50;
  color: #272727;
}

.footer-cont li {
  font-family: "lato" arial, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: #292a2b;
}
.footer-cont li span {
  font-family: "lato";
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #292a2b;
  margin: 1rem;
}

.footer-cont--uno i {
  font-size: 2.2rem;
}

.label-color label {
  color: #f36c21;
  font-family: "lato" arial, sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

.secc-grad {
  background-image: linear-gradient(to right top, #f36c21, #f67d3b, #f88e53, #f99e6a, #f9ad82);
}

.cta-info h4 {
  font-family: "lato", arial, sans-serif;
  font-weight: 800;
  font-size: 3.7rem;
  color: #4e4e50;
  font-family: "lato", sans-serif;
  letter-spacing: 3px;
  color: white;
  opacity: auto;
  text-align: left;
  width: auto;
}
.cta-info p {
  font-family: "lato", arial, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #4e4e50;
  font-family: "lato" Arial, sans-serif;
  color: white;
  height: auto;
  width: auto;
}

.btn-contac {
  background-color: white;
  border-radius: 110px;
  border-color: #f36c21;
  color: #f36c21;
}

.btn-contac:hover {
  color: white;
  background-image: linear-gradient(to right top, #f36c21, #f67d3b, #f88e53, #f99e6a, #f9ad82);
  border-color: #f36c21;
}

.section-404 h1 {
  font-family: "lato";
  font-weight: 300;
  font-size: 6.5rem;
}
.section-404 i {
  font-size: 6.5rem;
}
.section-404 p {
  font-family: "lato" arial, sans-serif;
  font-weight: 300;
  font-size: 1.75rem;
}
.section-404 a {
  font-family: "lato";
  font-weight: 600;
  font-size: 1.2rem;
  color: #f36c21;
}

/*# sourceMappingURL=style.css.map */
