/* estilo footer */
.color-footer {
  background-color: $gris1;
  color: $gris2;
}
.footer-cont {
  li {
    font-family: "lato" arial, sans-serif;
    font-weight: 400;
    font-size: $font6;
    color: $gris2;

    span {
      font-family: "lato";
      font-weight: 500;
      font-size: $font6;
      letter-spacing: 1px;
      color: $gris2;
      margin: 1rem;
    }
  }
}
