* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$naranja: #f36c21;
$gris1: rgb(78, 78, 80);
$gris2: #292a2b;

$font1: 0.8rem;
$font2: 2.5rem;
$font3: 1.3rem;
$font4: 2rem;
$font5: 1.1rem;
$font6: 1rem;
$font7: 1.75rem;

$boxS: rgba(0, 0, 0, 0.2);
