.section-404 {
  h1 {
    font-family: "lato";
    font-weight: 300;
    font-size: $font404;
  }
  i {
    font-size: $font404;
  }
  p {
    font-family: "lato" arial, sans-serif;
    font-weight: 300;
    font-size: $font7;
  }
  a {
    font-family: "lato";
    font-weight: 600;
    font-size: $font5;
    color: $naranja;
  }
}
