.label-color {
  label {
    color: $naranja;
    font-family: "lato" arial, sans-serif;
    font-weight: 600;
    font-size: $font3;
  }
}
.secc-grad {
  background-image: linear-gradient(
    to right top,
    #f36c21,
    #f67d3b,
    #f88e53,
    #f99e6a,
    #f9ad82
  );

  .cta-info {
    h4 {
      @include titulos($font8, 800);
      font-family: "Lato";
      letter-spacing: 0.25rem;
      white-space: normal;
      color: white;
      height: auto;
      opacity: auto;
      text-align: left;
      width: 25rem;
    }
    p {
      @include titulos($font3, 400);
      font-family: "lato" Arial, sans-serif;
      color: white;
      height: 1rem;
    }
  }
}
.btn-contac {
  background-color: white;
  border-radius: 110px;
  border-color: $naranja;
  color: $naranja;
}
.btn-contac:hover {
  color: white;
  background-color: $naranja;
  border-color: $naranja;
}
