.label-color {
  label {
    color: $naranja;
    font-family: "lato" arial, sans-serif;
    font-weight: 600;
    font-size: $font3;
  }
}
.secc-grad {
  background-image: $grad2;
}

.cta-info {
  h4 {
    @include titulos($font8, 800);
    font-family: "lato", sans-serif;
    letter-spacing: 3px;
    color: white;
    opacity: auto;
    text-align: left;
    width: auto;
  }
  p {
    @include titulos($font3, 400);
    font-family: "lato" Arial, sans-serif;
    color: white;
    height: auto;
    width: auto;
  }
}

.btn-contac {
  background-color: white;
  border-radius: 110px;
  border-color: $naranja;
  color: $naranja;
}
.btn-contac:hover {
  color: white;
  background-image: $grad2;
  border-color: $naranja;
}
